<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="default.css" library="css" />
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <title>Baza de Date Județeană a Educației</title>
    </h:head>

    <h:body>
        <f:view>
            <div id="top" class="top ui-widget ui-widget-header ui-corner-all">
                <ui:include src="header.xhtml" />
            </div>

            <p:messages id="mainMessages" autoUpdate="true" showDetail="true" />
            
            <h:form id="menuLoginForm">
                <ui:include src="mainMenu.xhtml" />
                <ui:include src="login.xhtml" />
            </h:form>

            <div id="content" class="center_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </f:view>
    </h:body>

</html>
