<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <p:panel rendered="#{not userBean.isLoggedIn}">
            <h:outputLabel for="username" value="Nume utilizator:" />
            <p:inputText id="username" value="#{userBean.username}" />
            <h:outputLabel for="password" value="Parola:" />
            <p:password id="password" value="#{userBean.password}" />
            <p:commandButton value="Autentificare" actionListener="#{userBean.doLogin}" update="menuLoginForm" />
        </p:panel>
</ui:composition>
