<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <p:menubar id="menuBar" rendered="#{userBean.isLoggedIn}">
        <p:submenu label="Utilizator" icon="ui-icon-locked">
            <p:menuitem action="#{userBean.doLogout}" icon="ui-icon-unlocked" value="Ieșire" update="menuLoginForm" oncomplete="window.location='index.xhtml';" />
        </p:submenu>
        <p:submenu label="Date" icon="ui-icon-person" >
            <p:menuitem value="Import/Export" url="import.xhtml" icon="ui-icon-transfer-e-w" />
            <p:menuitem value="Rapoarte" url="reports.xhtml" icon="ui-icon-calculator" />
            <p:menuitem value="Ștergere" url="delete.xhtml" icon="ui-icon-closethick" />
        </p:submenu>
        <p:submenu label="Utilitare" icon="ui-icon-wrench" >
            <p:menuitem value="Generator CNP" url="cnpGenerator.xhtml" icon="ui-icon-tag" />
        </p:submenu>
        <p:submenu label="Ajutor" icon="ui-icon-help" >
            <p:menuitem value="Manual" url="resources/files/manual.pdf" icon="ui-icon-help" />
            <p:menuitem value="Despre Aplicație" url="about.xhtml" icon="ui-icon-info" />
        </p:submenu>
    </p:menubar>
</ui:composition>
