<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="content">
        <p:panel header="Despre aplicație">
            <h3>Idei de bază</h3>
            Design-ul aplicației se bazează pe următoarele idei:
            <ul>
                <li>Date minim necesare - nu cerem date duplicate. De exemplu dacă avem CNP nu cerem sexul sau data nașterii.</li>
                <li>Formate stricte - o bază de date are niște criterii stricte despre formatul datelor. Pentru a avea o situație utilizabilă datele sunt validate cu strictețe.</li>
                <li>Date implicite rezonabile - în limita tehnologiei se pot omite anumite celule dacă se încadrează în majoritatea de 90% dintre cazuri. De exemplu majoritatea elevilor sunt înscriși la învățamânt tradițional la forma zi.</li>
                <li>Mod de lucru liber - majoritatea unităților au deja datele necesare în format similar, așadar nu e logic să le re-introducă din nou. Aplicația are doar funcții de import și export excel. Editarea datelor se face fără aplicație și chiar fără internet dacă doriți.</li>
                <li>Rapoarte utile - dacă există date corecte, rapoartele din aplicație sunt în stare să vă aprovizioneze cu situații statistice și cifre de control.</li>
                <li>Securitate - datele unei unități pot fi modificate doar de unitatea respectivă. Dacă există dubluri sau mișcări de elevi nu se pot face fără acceptul unității care le-a introdus în aplicație.</li>
            </ul>
            
            
            <h3>Legal</h3>
            Aplicația este licențiată pentru utilizare de către ISJ Covasna fără cost pe durata cooperarării între autor/ copyright-holder și instituție, sub licența
            <a target="_blank" href="https://www.gnu.org/licenses/gpl-2.0.html">GNU GPL V2</a>
            .
            <br />
            Copyright &copy; 2013 by Balázsi Szilárd
            <h3>Tehnologii</h3>
            Tehnologiile utilizate:
            <ul>
                <li>
                    Tehnologia
                    <a target="_blank" href="http://www.oracle.com/technetwork/java/javaee/tech/index.html">JavaEE 6</a>
                </li>
                <li>
                    Facelet/GUI Framework
                    <a target="_blank" href="http://primefaces.org/">PrimeFaces</a>
                </li>
                <li>
                    Server de aplicație
                    <a target="_blank" href="http://glassfish.java.net/">GlassFish</a>
                </li>
                <li>
                    Server bază de date
                    <a target="_blank" href="https://www.mysql.com/">MySQL</a>
                </li>
                <li>
                    Server OS
                    <a target="_blank" href="http://www.debian.org/">Debian</a>
                </li>
                <li>
                    IDE
                    <a target="_blank" href="http://netbeans.org/">NetBeans</a>
                </li>
            </ul>
        </p:panel>
    </ui:define>
</ui:composition>
