<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="content">
        <h:form id="cnpGenForm" >
            <p:panel header="Generare CNP" rendered="#{userBean.isLoggedIn}">
                <p>
                    Atenție! Acest CNP are caracter temporar și inoficial. Poate fi utilizat până când copilul/ elevul primește un CNP oficial din partea Serviciului Public Comunitar Local de Evidență a Persoanelor.
                </p>
                
                
                <h:panelGrid columns="2">
                    <p:outputLabel for="sex" value="Sexul: " />
                    <p:selectOneMenu id="sex" value="#{cnpBean.sex}">
                        <f:selectItem itemLabel="Feminin" itemValue="f" />
                        <f:selectItem itemLabel="Masculin" itemValue="m" />
                    </p:selectOneMenu>
                    <p:outputLabel for="data_nasterii" value="Data nasterii: " />
                    <p:calendar id="data_nasterii" showButtonPanel="true" navigator="true" pattern="dd.MM.yyyy" value="#{cnpBean.data_nasterii}" />
                </h:panelGrid>

                <p:commandButton value="Generează" actionListener="#{cnpBean.generateCNP}" update="cnp" />

                <p>
                    <p:panel header="CNP Generat">
                        <p:outputLabel id="cnp" value="#{cnpBean.cnp}" style="font-size:2em;font-family:monospace;" />
                    </p:panel>
                </p>

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
