<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="content">
        <h:form id="deleteForm" >
            <p:panel header="Ștergere" rendered="#{userBean.isLoggedIn}">
                <p>
                    <p:outputLabel for="cnpSearch" value="CNP: " />
                    <p:inputText id="cnpSearch" size="15" value="#{deleteBean.cnp}" />
                    <p:commandButton id="deleteButton" actionListener="#{deleteBean.deleteCnp}" value="Ștergere" update="deleteLog"/>
                </p>
                <p>
                    <p:panel header="Mesaje">
                        <p:outputLabel id="deleteLog" value="#{deleteBean.deleteLog}" />
                    </p:panel>
                </p>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
