<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="fileUploadForm" >
            <p:panel header="Importare" rendered="#{userBean.isLoggedIn}">
                <p>Pentru a importa datele vă rugăm folosiți <p:commandLink style="text-decoration: underline;" action="#{exportBean.exportMachetaEmpty}" ajax="false" value="macheta necompletată" /> sau <p:commandLink style="text-decoration: underline;" action="#{exportBean.exportMachetaFilled}" ajax="false" value="macheta completată" /><h:outputText value=" sau " rendered="#{userBean.ISJ}" /><p:commandLink style="text-decoration: underline;" action="#{exportBean.exportMachetaComplete}" ajax="false" value="baza de date completă" /></p>

                <p>Precizări referitor la coloane:</p>
                <ul>
                    <li><b>CNP</b> - va fi verificat lungimea, sexul, data nașterii, județul și cifra de control. Dacă CNP-ul este incorect rândul nu va fi importat. Dacă CNP-ul deja există în bază și aparține unității atunci datele vor fi actualizate. Dacă CNP-ul aparține altei unități atunci veți primi o notificare și rândul curent nu va fi importat.</li>
                    <li><b>Nume</b> - Numele se va scrie EXACT cum este în certificatul de naștere/ buletin, cu diacritice</li>
                    <li><b>Inițiala Tatălui</b> - 1 literă. </li>
                    <li><b>Prenume</b> - Prenumele se va scrie EXACT cum este în certificatul de naștere/ buletin, cu diacritice</li>
                    <li><b>Unitatea</b> - Se va selecta din listă unitatea (structura) unde este înscris elevul</li>
                    <li><b>Grupa/Clasa</b> - Se va selecta din lista nivelul urmat de elev. Pentru grupele combinate și învățământul simultan selectați nivelul copilului/elevului și la Alternativă selectați combinat/simultan</li>
                    <li><b>Nume Clasă</b> - Se va trece litera clasei exemplu: F . Pentru nivelul preșcolar nu trebuie completat</li>
                    <li><b>Alternativa</b> - Se va selecta alternativa educațională. Aici pot fi selectate grupele combinate și învățământul simultan. Dacă lăsați necompletat atunci se presupune "Tradițional".</li>
                    <li><b>Secția</b> - Se selectează secția: română sau maghiară</li>
                    <li><b>Forma</b> - Pentru preșcolar se poate selecta program normal sau prelungit iar pentru școli forma de învățământ. Dacă lăsați necompletat atunci se presupune "Normal" pentru preșcolar sau "Zi" pentru școlar</li>
                    <li><b>Mediul</b> - Se selectează mediul: Urban sau Rural</li>
                </ul>

                <p>Precizări referitor la tabel</p>
                <ul>
                    <li>Nu săriți peste rânduri</li>
                    <li>Nu lăsați celule necompletate în afara celor care au fost menționate ca fiind opționale</li>
                    <li>Nu modificați ordinea coloanelor, nu ștergeți sau introduceti coloane noi</li>
                    <li>Tabelul poate fi ordonat, filtrat și redimensionat</li>
                    <li>Coloanele pot fi colorate și redimensionate</li>
                    <li>Textul din tabel poate fi colorat, schimbat și redimensionat</li>
                    <li>Dacă vreți să introduceți extra date în tabel atunci folosiți coloanele după K, header sau footer</li>
                </ul>

                <p>
                    <p:fileUpload fileUploadListener="#{importBean.handleFileUpload}"
                                  mode="advanced"
                                  allowTypes="/(\.|\/)(xls)|(xlsx)$/"
                                  label="Încarcă Fișier"
                                  invalidFileMessage="Format invalid, se acceptă doar fișiere excel"
                                  auto="true"
                                  update="importLog"
                                  />
                </p>
                <p:panel header="Mesaje">
                    <pre style="font-size:1.6em;">
                    <p:outputLabel id="importLog" value="#{importBean.importLog}" />
                    </pre>
                </p:panel>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
