<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui">


    <ui:define name="content">
        <p:panel header="Pagina principală">
            <h2>Bine ați venit!</h2>
            Vă rugăm utilizați meniul de sus pentru a accesa funcționalitățile aplicației.
        </p:panel>
    </ui:define>

</ui:composition>
