<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="./WEB-INF/defaultTemplate.xhtml"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:h="http://java.sun.com/jsf/html">


    <ui:define name="content">
        <h:form id="reportForm" >
            <p:panel header="Rapoarte" rendered="#{userBean.isLoggedIn}">
                <p:fieldset legend="Rânduri" styleClass="spaced">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="group_row1" value="Defalcat pe (1):" />
                        <p:selectOneMenu id="group_row1" value="#{reportBean.group_row1}">
                            <f:selectItems value="#{reportBean.group_values}"/>
                        </p:selectOneMenu>
                        <p:outputLabel for="group_row2" value="Defalcat pe (2):" />
                        <p:selectOneMenu id="group_row2" value="#{reportBean.group_row2}">
                            <f:selectItems value="#{reportBean.group_values}" />
                        </p:selectOneMenu>
                        <p:outputLabel for="group_row3" value="Defalcat pe (3):" />
                        <p:selectOneMenu id="group_row3" value="#{reportBean.group_row3}">
                            <f:selectItems value="#{reportBean.group_values}" />
                        </p:selectOneMenu>
                        <p:outputLabel for="current_count" value="Nr. Crt." />
                        <p:selectBooleanCheckbox id="current_count" value="#{reportBean.nr_crt}" />
                    </h:panelGrid>
                </p:fieldset>
                <p:fieldset legend="Coloane" styleClass="spaced">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="group_col1" value="Defalcat pe:" />
                        <p:selectOneMenu id="group_col1"  value="#{reportBean.group_col1}">
                            <f:selectItems value="#{reportBean.col_values}" />
                        </p:selectOneMenu>
                    </h:panelGrid>                    
                </p:fieldset>

                <p:commandButton value="Generează Raport" styleClass="spaced" ajax="false" action="#{reportBean.generateReport}" />

            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
